$color1: #ff0066;
$text: #ffffff;
$bkg: #771133;

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

@mixin footerlink {
  background-color: $bkg;
  color: $text;
  &:hover {
    opacity: 0.5;
  }
}

.nav {
  border: 1px solid $color1;
  .link {
    color: $color1;
    &:hover {
      background-color: $color1;
      color: #ffffff;
    }
  }
}

.footer {
  &__heading {
    font-size: 1rem;
  }
  &__link {
    @include footerlink();
  }
  &__p {
    font-size: 0.6666rem;
  }
}
